<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/typescript.css" />
</head>
<body>
    <div class="container">
        <div class="TypeScriptNedir">
            <h1>TypeScript nedir?</h1>
            <p>
               
            </p>
        </div>

        <div class="TypeScriptFark">
            <h1>TypeScript farkları nedir?</h1>
            <p>

            </p>
        </div>

        <div class="TypeScriptUygulama">
            <h1>TypeScript Uygulaması</h1>
           
        </div>
    </div>
</body>
</html>